body{
  height: 100%;
  width: 100%;
}

h1{
font-size: 50px;
margin: 5px;
color: red;
}

button,input{
padding: 20px 30px;
font-size: large;
margin: 10px;
cursor: pointer;
border-radius: 4px;
font-weight: bold;
background-color: #a1d7e3;
}